.form-select {
  width: 100%;
}

button {
  width: 115px;
  border: none;
  border-radius: 5px;
  background-color: rgb(67, 170, 255);
  color: white;
  height: 30px;
}

.news-container {
  margin-top: 50px;
}

.news-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.news {
  flex-direction: row;
  margin: 20px 40px 20px 0;
  width: 100%;
  min-height: 250px;
  max-height: 350px;
}

.news .image {
  width: 25%;
}

.news .content {
  width: 75%;
  padding: 20px;
}

#news-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px 0 0 3px;
}

#news-header {
  font-size: 1.5rem;
}

#pageBtn-container {
  margin-right: 2.5rem;
}

.page-btn {
  width: 50px;
}

.selected-page {
  background-color: rgb(150, 150, 150);
}

@media screen and (max-width: 768px) {

  #news-header {
    font-size: 1rem;
  }
  
}