.nav-items {
    margin-right: 20px;
}

.nav-items > * {
    margin-left: 50px;
}

.brand-text {
    font-size: 2rem;
    margin-left: 20px;
}

.high-priority {
    color: red;
}

.completed {
    background-color: green;
}

.not-completed {
    background-color: yellow;
}

aside {
    height: 600px;
    display: flex;
    flex-direction: column;
}

.news {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 3px #9b9b9b;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.news .content {
    padding: 10px;
}

#news-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}

#featured-header {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .news {
        flex-direction: row;
        font-size: .75rem;
        min-height: 150px;
    }

    #featured-header {
        font-size: 1rem;
    }    

    .news .content {
        width: 75%;
    }

    .news .image {
        width: 25%;
    }

    #news-image {
        border-radius: 3px 0 0 3px;
    }
}